# 3.5. Tabelarni podaci u *Jupyter*-u

### Prvi zadatak
1. Nа osnovu podataka iz tabele na slici napravi ugnježđenu listu. Nazovi je *Struja*.
2. Od liste napravi tabelu (*Data Frame*) pod nazivom *StrujaOsigurača*.
3. Prikaži tabelu.
4. Umesto indeksa, kolonama dodeli odgovarajuće nazive pa ponovo prikaži tabelu.
5. Tabelu sačuvaj u svoj folder kao **CSV** fajl. U **CSV** fajlu ne treba da se nalazi indeksna kolona ali treba da se koriste slova srpske latinice.
<table><tr>
<td> <img src="https://i.imgur.com/E1C3YJn.png" alt="Drawing" style="width: 250px;"/> </td>
</tr></table>

In [1]:
Struja=[[1,10],[1.5,16],[2.5,20],[4,25],[6,35],[10,50],[16,63],[25,80],[35,100],[50,125]]

In [2]:
import pandas as pd

In [3]:
StrujaOsigurača=pd.DataFrame(Struja)

In [4]:
StrujaOsigurača

      0    1
0   1.0   10
1   1.5   16
2   2.5   20
3   4.0   25
4   6.0   35
5  10.0   50
6  16.0   63
7  25.0   80
8  35.0  100
9  50.0  125

In [5]:
StrujaOsigurača.columns=["Poprecni presek", "Nazivna struja osiguraca"]

In [6]:
StrujaOsigurača

   Poprecni presek  Nazivna struja osiguraca
0              1.0                        10
1              1.5                        16
2              2.5                        20
3              4.0                        25
4              6.0                        35
5             10.0                        50
6             16.0                        63
7             25.0                        80
8             35.0                       100
9             50.0                       125

In [7]:
StrujaOsigurača.to_csv("StrujaOsigurača.csv", index=False, encoding = "utf-8-sig")

# Drugi zadatak
1. Nа osnovu podataka iz tabele na slici napravi ugnježđenu listu. Nazovi je *Nemetali*.
2. Od liste napravi tabelu pod nazivom *TabelaNemetala*.
3. Prikaži tabelu.
4. Umesto indeksa, kolonama dodeli odgovarajuće nazive pa ponovo prikaži tabelu.
5. Tabelu sačuvaj u svoj folder kao **.txt** fajl. U fajlu ne treba da se nalazi indeksna kolona ali treba da se koriste slova srpske latinice.
<table><tr>
<td> <img src="https://i.imgur.com/MuN2vCs.png" alt="Drawing" style="width: 370px;"/> </td>
</tr></table>

In [8]:
import pandas as pd

In [9]:
Nemetali=[["Ugljenik", "C",  12.0, 6],
["Azot", "N", 14.0, 7],
["Kiseonik", "0", 16.0, 8],
["Fluor", "F", 19.0, 9],
["Fosfor", "P", 31.0, 15],
["Sumpor", "S", 32.1, 16],
["Hlor", "Cl", 35.5, 17],
["Brom", " Br", 79.9, 35],
["Jod", "I", 126.9, 53]]

In [10]:
TN=pd.DataFrame(Nemetali)
TN

          0    1      2   3
0  Ugljenik    C   12.0   6
1      Azot    N   14.0   7
2  Kiseonik    0   16.0   8
3     Fluor    F   19.0   9
4    Fosfor    P   31.0  15
5    Sumpor    S   32.1  16
6      Hlor   Cl   35.5  17
7      Brom   Br   79.9  35
8       Jod    I  126.9  53

In [11]:
TN.columns=["Naziv", "oznaka", "atom tez","atom broj"]
TN

      Naziv oznaka  atom tez  atom broj
0  Ugljenik      C      12.0          6
1      Azot      N      14.0          7
2  Kiseonik      0      16.0          8
3     Fluor      F      19.0          9
4    Fosfor      P      31.0         15
5    Sumpor      S      32.1         16
6      Hlor     Cl      35.5         17
7      Brom     Br      79.9         35
8       Jod      I     126.9         53

In [12]:
TN.to_csv("TN.txt", index=False)

### Treći zadatak
1. Nа osnovu podataka iz tabele na slici napravi ugnježđenu listu. Nazovi je *Okruzi*.
2. Od liste napravi tabelu pod nazivom *UžaSrbija*.
3. Prikaži tabelu.
4. Umesto indeksa, kolonama dodeli odgovarajuće nazive pa ponovo prikaži tabelu.
5. Tabelu sačuvaj u svoj folder kao *Excel*-ov fajl (fajl s ekstenzijom **.xlsx**). U fajlu ne treba da se nalazi indeksna kolona ali treba da se koriste slova srpske latinice.
<table><tr>
<td> <img src="https://i.imgur.com/ueYqpUB.png" alt="Drawing" style="width: 320px;"/> </td>
</tr></table>

In [13]:
import pandas as pd

In [14]:
Okruzi=[
["Mačvanski", "Šabac", 3268, 339644],
["Kolubarski", "Valjevo", 2474, 20056],
["Podunavski", "Smederevo", 1248, 226589],
["Braničevski", "Požarevac", 3865, 253492],
["Šumadijski", "Kragujevac", 2387, 31216],
["Pomoravski", "Jagodina", 2614, 31216],
["Borski", "Bor", 3507, 178718],
["Zaječarski", "Zaječar", 3623, 158131],
["Zlatiborski", "Užice", 614, 335826],
["Moravički", "Čačak", 3016, 230748],
["Raški", "Kraljevo", 3918, 300234],
["Rasinski", "Kruševac", 2667, 29669],
["Nišavski", "Niš", 2729, 700000],
["Toplički", "Prokuplje", 2231, 111813],
["Pirotski", "Pirot", 2761, 116926],
["Jablanički", "Leskovac", 2769, 255011],
["Pčinjski", "Vranje", 352, 243529],
["Beogradski", "Beograd", 3224, 1732000]]

In [15]:
US=pd.DataFrame(Okruzi)
US

              0           1     2        3
0     Mačvanski       Šabac  3268   339644
1    Kolubarski     Valjevo  2474    20056
2    Podunavski   Smederevo  1248   226589
3   Braničevski   Požarevac  3865   253492
4    Šumadijski  Kragujevac  2387    31216
5    Pomoravski    Jagodina  2614    31216
6        Borski         Bor  3507   178718
7    Zaječarski     Zaječar  3623   158131
8   Zlatiborski       Užice   614   335826
9     Moravički       Čačak  3016   230748
10        Raški    Kraljevo  3918   300234
11     Rasinski    Kruševac  2667    29669
12     Nišavski         Niš  2729   700000
13     Toplički   Prokuplje  2231   111813
14     Pirotski       Pirot  2761   116926
15   Jablanički    Leskovac  2769   255011
16     Pčinjski      Vranje   352   243529
17   Beogradski     Beograd  3224  1732000

In [16]:
US.columns=["Okrug", "Sedište", "Površina", "Broj stanovnika"]
US

          Okrug     Sedište  Površina  Broj stanovnika
0     Mačvanski       Šabac      3268           339644
1    Kolubarski     Valjevo      2474            20056
2    Podunavski   Smederevo      1248           226589
3   Braničevski   Požarevac      3865           253492
4    Šumadijski  Kragujevac      2387            31216
5    Pomoravski    Jagodina      2614            31216
6        Borski         Bor      3507           178718
7    Zaječarski     Zaječar      3623           158131
8   Zlatiborski       Užice       614           335826
9     Moravički       Čačak      3016           230748
10        Raški    Kraljevo      3918           300234
11     Rasinski    Kruševac      2667            29669
12     Nišavski         Niš      2729           700000
13     Toplički   Prokuplje      2231           111813
14     Pirotski       Pirot      2761           116926
15   Jablanički    Leskovac      2769           255011
16     Pčinjski      Vranje       352           243529
17   Beogradski     Beograd      3224          1732000

In [17]:
US.to_excel("US.xlsx", index=False)

### Četvrti zadatak
1. Nа osnovu podataka iz tabele na slici napravi ugnježđenu listu. Nazovi je *FizickoVaspitanje*.
2. Od liste napravi tabelu pod nazivom *Merenja*.
3. Prikaži tabelu.
4. Umesto indeksa, kolonama dodeli odgovarajuće nazive pa ponovo prikaži tabelu.
5. Tabelu sačuvaj u svoj folder kao **CSV** fajl. U **CSV** fajlu ne treba da se nalazi indeksna kolona ali treba da se koriste slova srpske latinice.
<table><tr>
<td> <img src="https://i.imgur.com/dA0vyBF.png" "/> </td>
</tr></table>

In [18]:
FV=[["Una", "Zorić", "Ž", 161, 45, 2.75, 18, 15, 5.66, 13.95],
["Marta", "Stojanović", "Ž", 171, 64, 5.25, 25, 30, 5.32, 12.90],
["Ognjen", "Novaković", "M", 159, 48, 6.70, 23, 28, 5.12, 13.24],
["Petra", "Kalicanin", "ž", 165, 53, 2.50, 20, 10, 6.37, 14.01],
["Novak", "Djordjević", "м", 170, 62, 7.00, 25, 55, 4.91, 11.38],
["Đurđe", "Martać", "м", 175, 67, 6.10, 26, 40, 5.39, 12.15],
["Kalina", "Ognjenović", "ž", 178, 65, 5.00, 26, 36, 4.46, 12.10],
["Vanja", "Čolović", "м", 181, 72, 7.10, 28, 45, 4.34, 10.85]]

In [19]:
import pandas as pd

In [20]:
M=pd.DataFrame(FV)
M

        0           1  2    3   4     5   6   7     8      9
0     Una       Zorić  Ž  161  45  2.75  18  15  5.66  13.95
1   Marta  Stojanović  Ž  171  64  5.25  25  30  5.32  12.90
2  Ognjen   Novaković  M  159  48  6.70  23  28  5.12  13.24
3   Petra   Kalicanin  ž  165  53  2.50  20  10  6.37  14.01
4   Novak  Djordjević  м  170  62  7.00  25  55  4.91  11.38
5   Đurđe      Martać  м  175  67  6.10  26  40  5.39  12.15
6  Kalina  Ognjenović  ž  178  65  5.00  26  36  4.46  12.10
7   Vanja     Čolović  м  181  72  7.10  28  45  4.34  10.85

In [21]:
M.columns=["Ime", "Prezime", "Pol", "Visina [cm] ", "Težina [kg] ", "Bacanje medicinke [m] ", "Trbušnjaci", "Izdržaj u zgibu [s] ", "Trka na 30 metara [s] ", "Čunasto trčanje [s] "]
M

,Ime,Prezime,Pol,Visina [cm],Težina [kg],Bacanje medicinke [m],Trbušnjaci,Izdržaj u zgibu [s],Trka na 30 metara [s],Čunasto trčanje [s]
0,Una,Zorić,Ž,161,45,2.75,18,15,5.66,13.95
1,Marta,Stojanović,Ž,171,64,5.25,25,30,5.32,12.90
2,Ognjen,Novaković,M,159,48,6.70,23,28,5.12,13.24
3,Petra,Kalicanin,ž,165,53,2.50,20,10,6.37,14.01
4,Novak,Djordjević,м,170,62,7.00,25,55,4.91,11.38
5,Đurđe,Martać,м,175,67,6.10,26,40,5.39,12.15
6,Kalina,Ognjenović,ž,178,65,5.00,26,36,4.46,12.10
7,Vanja,Čolović,м,181,72,7.10,28,45,4.34,10.85

In [22]:
M.to_csv("M.csv", index=False, encoding = "utf-8-sig")

### Peti zadatak
Na *URL* adresi https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv se nalazi javno dostupan spisak svih država na svetu. 
- Uvezi tabelu u svesku (sačuvaj je u promenljivu *DržaveSveta*). 
- Prikaži sadržaj uvezene tabele.
- Prikaži sadržaj svih redova.

In [23]:
import pandas as pd

In [24]:
DržaveSveta=pd.read_csv("https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv")

In [25]:
pd.set_option("display.max_rows", 194)

In [26]:
DržaveSveta

                              Country         Region
0                             Algeria         AFRICA
1                              Angola         AFRICA
2                               Benin         AFRICA
3                            Botswana         AFRICA
4                             Burkina         AFRICA
5                             Burundi         AFRICA
6                            Cameroon         AFRICA
7                          Cape Verde         AFRICA
8            Central African Republic         AFRICA
9                                Chad         AFRICA
10                            Comoros         AFRICA
11                              Congo         AFRICA
12      Congo, Democratic Republic of         AFRICA
13                           Djibouti         AFRICA
14                              Egypt         AFRICA
15                  Equatorial Guinea         AFRICA
16                            Eritrea         AFRICA
17                           Ethiopia         AFRICA
18                              Gabon         AFRICA
19                             Gambia         AFRICA
20                              Ghana         AFRICA
21                             Guinea         AFRICA
22                      Guinea-Bissau         AFRICA
23                        Ivory Coast         AFRICA
24                              Kenya         AFRICA
25                            Lesotho         AFRICA
26                            Liberia         AFRICA
27                              Libya         AFRICA
28                         Madagascar         AFRICA
29                             Malawi         AFRICA
30                               Mali         AFRICA
31                         Mauritania         AFRICA
32                          Mauritius         AFRICA
33                            Morocco         AFRICA
34                         Mozambique         AFRICA
35                            Namibia         AFRICA
36                              Niger         AFRICA
37                            Nigeria         AFRICA
38                             Rwanda         AFRICA
39              Sao Tome and Principe         AFRICA
40                            Senegal         AFRICA
41                         Seychelles         AFRICA
42                       Sierra Leone         AFRICA
43                            Somalia         AFRICA
44                       South Africa         AFRICA
45                        South Sudan         AFRICA
46                              Sudan         AFRICA
47                          Swaziland         AFRICA
48                           Tanzania         AFRICA
49                               Togo         AFRICA
50                            Tunisia         AFRICA
51                             Uganda         AFRICA
52                             Zambia         AFRICA
53                           Zimbabwe         AFRICA
54                        Afghanistan           ASIA
55                            Bahrain           ASIA
56                         Bangladesh           ASIA
57                             Bhutan           ASIA
58                             Brunei           ASIA
59                              Burma           ASIA
60                           Cambodia           ASIA
61                              China           ASIA
62                         East Timor           ASIA
63                              India           ASIA
64                          Indonesia           ASIA
65                               Iran           ASIA
66                               Iraq           ASIA
67                             Israel           ASIA
68                              Japan           ASIA
69                             Jordan           ASIA
70                         Kazakhstan           ASIA
71                       Korea, North           ASIA
72                       Korea, South           ASIA
73                             Kuwait           ASIA
74                         Kyrgyzstan           ASIA
75                               Laos           ASIA
76                            Lebanon           ASIA
77                           Malaysia           ASIA
78                           Maldives           ASIA
79                           Mongolia           ASIA
80                              Nepal           ASIA
81                               Oman           ASIA
82                           Pakistan           ASIA
83                        Philippines           ASIA
84                              Qatar           ASIA
85                 Russian Federation           ASIA
86                       Saudi Arabia           ASIA
87                          Singapore           ASIA
88                          Sri Lanka           ASIA
89                              Syria           ASIA
90                         Tajikistan           ASIA
91                           Thailand           ASIA
92                             Turkey           ASIA
93                       Turkmenistan           ASIA
94               United Arab Emirates           ASIA
95                         Uzbekistan           ASIA
96                            Vietnam           ASIA
97                              Yemen           ASIA
98                            Albania         EUROPE
99                            Andorra         EUROPE
100                           Armenia         EUROPE
101                           Austria         EUROPE
102                        Azerbaijan         EUROPE
103                           Belarus         EUROPE
104                           Belgium         EUROPE
105            Bosnia and Herzegovina         EUROPE
106                          Bulgaria         EUROPE
107                           Croatia         EUROPE
108                            Cyprus         EUROPE
109                    Czech Republic         EUROPE
110                           Denmark         EUROPE
111                           Estonia         EUROPE
112                           Finland         EUROPE
113                            France         EUROPE
114                           Georgia         EUROPE
115                           Germany         EUROPE
116                            Greece         EUROPE
117                           Hungary         EUROPE
118                           Iceland         EUROPE
119                           Ireland         EUROPE
120                             Italy         EUROPE
121                            Latvia         EUROPE
122                     Liechtenstein         EUROPE
123                         Lithuania         EUROPE
124                        Luxembourg         EUROPE
125                         Macedonia         EUROPE
126                             Malta         EUROPE
127                           Moldova         EUROPE
128                            Monaco         EUROPE
129                        Montenegro         EUROPE
130                       Netherlands         EUROPE
131                            Norway         EUROPE
132                            Poland         EUROPE
133                          Portugal         EUROPE
134                           Romania         EUROPE
135                        San Marino         EUROPE
136                            Serbia         EUROPE
137                          Slovakia         EUROPE
138                          Slovenia         EUROPE
139                             Spain         EUROPE
140                            Sweden         EUROPE
141                       Switzerland         EUROPE
142                           Ukraine         EUROPE
143                    United Kingdom         EUROPE
144                      Vatican City         EUROPE
145               Antigua and Barbuda  NORTH AMERICA
146                           Bahamas  NORTH AMERICA
147                          Barbados  NORTH AMERICA
148                            Belize  NORTH AMERICA
149                            Canada  NORTH AMERICA
150                        Costa Rica  NORTH AMERICA
151                              Cuba  NORTH AMERICA
152                          Dominica  NORTH AMERICA
153                Dominican Republic  NORTH AMERICA
154                       El Salvador  NORTH AMERICA
155                           Grenada  NORTH AMERICA
156                         Guatemala  NORTH AMERICA
157                             Haiti  NORTH AMERICA
158                          Honduras  NORTH AMERICA
159                           Jamaica  NORTH AMERICA
160                            Mexico  NORTH AMERICA
161                         Nicaragua  NORTH AMERICA
162                            Panama  NORTH AMERICA
163             Saint Kitts and Nevis  NORTH AMERICA
164                       Saint Lucia  NORTH AMERICA
165  Saint Vincent and the Grenadines  NORTH AMERICA
166               Trinidad and Tobago  NORTH AMERICA
167                     United States  NORTH AMERICA
168                         Australia        OCEANIA
169                              Fiji        OCEANIA
170                          Kiribati        OCEANIA
171                  Marshall Islands        OCEANIA
172                        Micronesia        OCEANIA
173                             Nauru        OCEANIA
174                       New Zealand        OCEANIA
175                             Palau        OCEANIA
176                  Papua New Guinea        OCEANIA
177                             Samoa        OCEANIA
178                   Solomon Islands        OCEANIA
179                             Tonga        OCEANIA
180                            Tuvalu        OCEANIA
181                           Vanuatu        OCEANIA
182                         Argentina  SOUTH AMERICA
183                           Bolivia  SOUTH AMERICA
184                            Brazil  SOUTH AMERICA
185                             Chile  SOUTH AMERICA
186                          Colombia  SOUTH AMERICA
187                           Ecuador  SOUTH AMERICA
188                            Guyana  SOUTH AMERICA
189                          Paraguay  SOUTH AMERICA
190                              Peru  SOUTH AMERICA
191                          Suriname  SOUTH AMERICA
192                           Uruguay  SOUTH AMERICA
193                         Venezuela  SOUTH AMERICA