In [24]:
#kreiranje ugnježđene liste Rezultati
Rezultati = [[1, "Una",    "Zorić",      16.32, 1.21, 25],
             [2, "Marta",  "Stanojević", 15.44, 1.01, 16],
             [3, "Ognjen", "Novaković",  14.56, 1.10, 5],
             [4, "Petra",  "Kaličanin",  16.98, 0.89, 21],
             [5, "Novak",  "Đorđević",   15.01, 1.32, 28],
             [6, "Đurđe",  "Martać",     16.25, 1.18, 25],
             [7, "Kalina", "Ognjenović", 14.38, 0.95, 25],
             [8, "Vanja",  "Čolović",    14.55, 0.98, 26]]

#DEFINISANJE TABELE PREKO DATAFRAME

In [36]:
#uvoz biblioteke pandas
import pandas as pd

In [37]:
#pravljenje tabele od ugnježđene liste
TabelaRezultata = pd.DataFrame(Rezultati)

In [38]:
#prikaz kreirane tabele
TabelaRezultata

   0       1           2      3     4   5
0  1     Una       Zorić  16.32  1.21  25
1  2   Marta  Stanojević  15.44  1.01  16
2  3  Ognjen   Novaković  14.56  1.10   5
3  4   Petra   Kaličanin  16.98  0.89  21
4  5   Novak    Đorđević  15.01  1.32  28
5  6   Đurđe      Martać  16.25  1.18  25
6  7  Kalina  Ognjenović  14.38  0.95  25
7  8   Vanja     Čolović  14.55  0.98  26

In [39]:
#dodeljivanje naziva kolonama
TabelaRezultata.columns = ["R. br.", "Ime", "Prezime", "Trka100m", "Skok udalj", "Čučnjevi"]

In [40]:
TabelaRezultata

   R. br.     Ime     Prezime  Trka100m  Skok udalj  Čučnjevi
0       1     Una       Zorić     16.32        1.21        25
1       2   Marta  Stanojević     15.44        1.01        16
2       3  Ognjen   Novaković     14.56        1.10         5
3       4   Petra   Kaličanin     16.98        0.89        21
4       5   Novak    Đorđević     15.01        1.32        28
5       6   Đurđe      Martać     16.25        1.18        25
6       7  Kalina  Ognjenović     14.38        0.95        25
7       8   Vanja     Čolović     14.55        0.98        26

**Čuvanje tabele u različitim formatima**

In [41]:
TabelaRezultata.to_csv("Takmičenje.csv")

In [42]:
TabelaRezultata.to_csv("Takmicenje.csv", index=False)

In [43]:
TabelaRezultata.to_csv("T.csv", index=False, encoding = "utf-8-sig")

In [44]:
TabelaRezultata.to_excel("Takmicenje.xlsx", index=False)

In [45]:
TabelaRezultata.to_csv("Takmicenje.txt", index=False)

In [46]:
#TabelaRezultata.to_csv("C:/Users/Ucenik/Desktop/Takmičenje.csv", index=False)

**Učitavanje tabela iz fajlova s računara i s interneta**

In [47]:
TabelaOcena = pd.read_csv("T.csv")

In [48]:
TabelaOcena

   R. br.     Ime     Prezime  Trka100m  Skok udalj  Čučnjevi
0       1     Una       Zorić     16.32        1.21        25
1       2   Marta  Stanojević     15.44        1.01        16
2       3  Ognjen   Novaković     14.56        1.10         5
3       4   Petra   Kaličanin     16.98        0.89        21
4       5   Novak    Đorđević     15.01        1.32        28
5       6   Đurđe      Martać     16.25        1.18        25
6       7  Kalina  Ognjenović     14.38        0.95        25
7       8   Vanja     Čolović     14.55        0.98        26

Kad se kopira adresa fajla mora da se promene kose crte - ne sme \, mora /

In [57]:
TabelaOcenaXL = pd.read_excel("C:/Users/Desktop/Downloads/Ocene.xlsx")

In [58]:
TabelaOcenaXL

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,Р. бр.,Име,Презиме,Биологија,Историја,Географија,Физика,Хемија
1,NaN,1,Уна,Зорић,5,4,5,3,3
2,NaN,2,Марта,Стојановић,5,5,5,5,5
3,NaN,3,Огњен,Новаковић,5,5,5,4,4
4,NaN,4,Петра,Каличанин,5,5,4,5,5
5,NaN,5,Новак,Ђорђевић,3,3,4,3,3
6,NaN,6,Ђурђе,Мартаћ,4,5,3,3,4
7,NaN,7,Калина,Огњеновић,5,3,4,4,4
8,NaN,8,Вања,Чоловић,5,5,5,4,5

mora da se klikne na row i kopira se adresa

In [51]:
TabelaGT = pd.read_csv("https://raw.githubusercontent.com/vulkanznanje/fajlovi/master/Informatika%20i%20ra%C4%8Dunarstvo%208/Zbirka%20zadataka%20za%20Jupyter%20Notebook/Ocene.csv")

In [52]:
TabelaGT

   Rbr     Ime     Prezime  Biologija  Istorija  Geografija  Fizika  Hemija
0    1     Una       Zorić          5         4           2       3       3
1    2   Marta  Stojanović          5         4           5       5       4
2    3  Ognjen   Novaković          3         4           3       4       4
3    4   Petra   Kaličanin          5         5           5       5       5
4    5   Novak    Đorđević          2         2           2       3       3
5    6   Đurđe      Martać          1         1           1       3       1
6    7  Kalina  Ognjenović          5         5           4       4       2
7    8   Vanja     Čolović          5         3           5       4       2